<div class="artcontainer col-12 col-md-6 col-lg-4">
    <div id="picture">
        <img class="img img-fluid" src="{art.ARTPICTURE}">
    </div>
    <div id="text">
        <div id="artname" data-artname="{art.ARTNAME}">{art.ARTNAME}</div>
        <div id="artinfo" ><span data-aname="{art.ANAME}">{art.ANAME}</span> <img width="16px" height="16px"
                                         src="https://img.icons8.com/windows/32/000000/marker.png"/><span data-mname="{art.MNAME}">{art.MNAME}</span>
        </div>
    </div>
</div>