<div class="artcontainer col-12 col-md-6 col-lg-4" data-aname="{art.ANAME}" data-artname="{art.ARTNAME}"
     data-mname="{art.MNAME}">
    <div id="picture">
        <img class="img img-fluid" alt="{art.ALT}" src="{art.ARTPICTURE}">
    </div>
    <div id="text">
        <div id="artname">{art.ARTNAME}</div>
        <div id="artinfo"><span>{art.ANAME}</span> <img width="16px" height="16px"
                                                        src="https://img.icons8.com/windows/32/000000/marker.png"/><span>{art.MNAME}</span>
        </div>
    </div>
</div>