<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:layout name="default"/>
<f:section name="searchbar">

    <div class="row" id="searchbar">
        <div class="col">
            <form id="searchform" method="GET" name="search">
                <input id="search" class="form-control" type="text" name="search"
                       placeholder="Search for artists, artpieces or museums">
            </form>
        </div>
        <div id="selectpicker" class="col-md-auto">
            <select class="selectpicker show-tick form-control" title="Filter by Location" data-live-search="true">
                <f:for each="{museums}" as="museum">
                    <option value="{museum.MNAME}">{museum.MNAME}</option>
                </f:for>
            </select>
        </div>

        <div class="col-md-auto">
            <button type="button" class="sort btn btn-info" name="sort" value="sort"> A - Z</button>
            <button type="button" class="xml btn btn-info" name="xml" value="xml">XML</button>
            <button type="button" class="btn btn-info" name="store" value="store">STORE</button>
        </div>
    </div>

</f:section>
<f:section name="artpieces">
    <div class="container">
        <div class="art row">
            <f:for each="{artpieces}" as="artpiece">
                <f:render partial="artwork" arguments="{art: artpiece}"/>
            </f:for>
        </div>
    </div>
</f:section>
<f:section name="script">
    <script>
        let searchterm = "{search}";
        document.querySelectorAll('.selectpicker').forEach((element) => {
            element.addEventListener('change', function () {
                console.log(element.value);
                let info = document.querySelector('#noartinfo');
                let toSort = document.querySelector('.art').children;
                toSort = Array.prototype.slice.call(toSort, 0);
                toSort.forEach(node => node.style.display = 'block');
                info ? document.querySelector('.art').removeChild(info) : "";

                toSort.filter(node => element.value !== node.dataset.mname).forEach(node => node.style.display = 'none');
                let counter = 0;
                toSort.forEach(node => node.style.display === 'block' ? counter++ : "");
                let infonode = document.createElement('div');
                infonode.id = "noartinfo";
                infonode.className = "col-md-auto";
                infonode.innerHTML = "<h3>Keine Bilder gefunden!</h3>";
                (counter === 0) ? document.querySelector('.art').appendChild(infonode) : "";
            })
        });

        let sortdirection = false;
        document.querySelectorAll('.sort').forEach((element) => {
            console.log(element);
            element.addEventListener('click', function () {

                let toSort = document.querySelector('.art').children;
                toSort = Array.prototype.slice.call(toSort, 0);
                if (sortdirection) {
                    toSort.sort((a, b) => a.dataset.artname < b.dataset.artname ? 1 : -1).map(node => document.querySelector('.art').appendChild(node));
                    element.innerHTML = "A - Z";
                } else {
                    toSort.sort((a, b) => a.dataset.artname > b.dataset.artname ? 1 : -1).map(node => document.querySelector('.art').appendChild(node));
                    element.innerHTML = "Z - A";
                }
                sortdirection = !sortdirection;

            });
        });
        console.log(searchterm);
        document.querySelectorAll('.xml').forEach((element) => {
            console.log(element);
            element.addEventListener('click', function () {
                console.log("Trigger");
                let xhr = new XMLHttpRequest();
                let sort = document.querySelector('.sort').innerHTML;
                let museum = document.querySelector('.selectpicker').value;
                xhr.open("GET", "index.php?format=JSON&sort=" + sort + "&filter=" + museum+"&searchterm="+searchterm, true);
                xhr.onreadystatechange = function () {
                    if(xhr.readyState === XMLHttpRequest.DONE){
                       let a = document.createElement('a');
                        a.setAttribute('href', "resources/public/xml/artpieces.xml");
                        a.setAttribute('download', "artpieces");

                        let aj = $(a);
                        aj.appendTo('body');
                        aj[0].click();
                        aj.remove();
                    }
                };
                xhr.send();
            });
        });
    </script>
</f:section>
</html>