<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:layout name="default"/>
<f:section name="searchbar">
    <div class="searchcontainer container">
        <div class="row" id="searchbar">
            <div class="col">
                <form id="searchform" method="GET" name="search">
                    <input id="search" class="form-control" type="text" name="search"
                           placeholder="Search for artists, artpieces or museums" alt="Search for artists, artpieces or museums" required>
                </form>
            </div>
            <div id="selectpicker" class="col-md-auto">
                <select aria-label="Filter by Location" class="selectpicker show-tick form-control" title="Filter by Location" data-live-search="true">
                    <f:for each="{museums}" as="museum">
                        <option aria-labelledby="{museum.MNAME}" value="{museum.MNAME}">{museum.MNAME}</option>
                    </f:for>
                </select>
            </div>

            <div class="col-md-auto">
                <button type="button" class="sort btn btn-info" name="sort" value="sort"> A - Z</button>
                <button type="button" class="xml btn btn-info" name="xml" value="xml">GET XML</button>
                <button type="button" class="add btn btn-info" name="store" value="store">ADD PAINTING</button>
            </div>
        </div>
    </div>

</f:section>
<f:section name="artpieces">
    <div class="container">
        <div class="art row">
            <f:for each="{artpieces}" as="artpiece">
                <f:render partial="artwork" arguments="{art: artpiece}"/>
            </f:for>
        </div>
    </div>
</f:section>
<f:section name="script">
    <script>

        document.querySelectorAll('.link').forEach((element)=>{
            element.addEventListener('click',function () {
                console.log(element);

                insertParam('painting',element.dataset.artname);
            })
        });

        document.querySelectorAll('.selectpicker').forEach((element) => {
            element.addEventListener('change', function () {
                let info = document.querySelector('#noartinfo');
                let toSort = document.querySelector('.art').children;
                toSort = Array.prototype.slice.call(toSort, 0);
                toSort.forEach(node => node.style.display = 'block');
                info ? document.querySelector('.art').removeChild(info) : "";

                toSort.filter(node => element.value !== node.dataset.mname).forEach(node => node.style.display = 'none');
                let counter = 0;
                toSort.forEach(node => node.style.display === 'block' ? counter++ : "");
                let infonode = document.createElement('div');
                infonode.id = "noartinfo";
                infonode.className = "col-md-auto";
                infonode.innerHTML = "<h3>Keine Bilder gefunden!</h3>";
                (counter === 0) ? document.querySelector('.art').appendChild(infonode) : "";
            })
        });

        let sortdirection = false;
        document.querySelectorAll('.sort').forEach((element) => {
            element.addEventListener('click', function () {

                let toSort = document.querySelector('.art').children;
                toSort = Array.prototype.slice.call(toSort, 0);
                if (sortdirection) {
                    toSort.sort((a, b) => a.dataset.artname < b.dataset.artname ? 1 : -1).map(node => document.querySelector('.art').appendChild(node));
                    element.innerHTML = "A - Z";
                } else {
                    toSort.sort((a, b) => a.dataset.artname > b.dataset.artname ? 1 : -1).map(node => document.querySelector('.art').appendChild(node));
                    element.innerHTML = "Z - A";
                }
                sortdirection = !sortdirection;

            });
        });
        console.log("<f:format.raw>{search}</f:format.raw>");
        document.querySelectorAll('.xml').forEach((element) => {
            console.log(element);
            element.addEventListener('click', function () {
                let xhr = new XMLHttpRequest();
                let sort = document.querySelector('.sort').innerHTML;
                let museum = document.querySelector('.selectpicker').value;
                xhr.open("GET", "index.php?format=JSON&sort=" + sort + "&filter=" + museum + "&searchterm=<f:format.raw>{search}</f:format.raw>", true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        let a = document.createElement('a');
                        a.setAttribute('href', "resources/public/xml/artpieces.xml");
                        a.setAttribute('download', "artpieces");

                        let aj = $(a);
                        aj.appendTo('body');
                        aj[0].click();
                        aj.remove();
                    }
                };
                xhr.send();
            });
        });

        document.querySelectorAll('.add').forEach((element) => {

            element.addEventListener('click', function () {
                insertParam('add','painting');
            })
        });

        function insertParam(key, value) {
            key = escape(key); value = escape(value);

            let kvp = document.location.search.substr(1).split('&');
            if (kvp == '') {
                document.location.search = '?' + key + '=' + value;
            }
            else {

                var i = kvp.length; var x; while (i--) {
                    x = kvp[i].split('=');

                    if (x[0] == key) {
                        x[1] = value;
                        kvp[i] = x.join('=');
                        break;
                    }
                }

                if (i < 0) { kvp[kvp.length] = [key, value].join('='); }

                //this will reload the page, it's likely better to store this until finished
                document.location.search = kvp.join('&');
            }
        }
    </script>
</f:section>
</html>